$main-bg-color: #b3b3b3;

$header-bg-color: #082032;

$card-bg-color: #2C394B;
$card-category-bg-color: #082032;
$card-category-color: #ddd9dd;;
$card-title-color: #FF4C29;
$card-text-color: #ddd9dd;
$card-btn-color: #ddd9dd;
$card-btn-edit-bg-color: #008CBA;
$card-btn-delete-bg-color: #f44336;

$modal-btn-bg-color: #4CAF50;
$modal-bg-color: #082032;

$footer-bg-color: #082032;
$footer-color: #ddd9dd;